<div class="row justify-content-center md-3">
    <div class="col-md-4 text-center">
        <h1>Todo Categories</h1>
        <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form action="" class="form-inline row">
            <div class="col-md-10 form-group">
                <input type="text" placeholder="Add New Categories here" name="categoryName"
                    class="form-control-plaintext drop-shadow">
            </div>
            <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block drop-shadow">Add</button>
        </form>
    </div>
</div>

<div class="row categories-list">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <div class="badge badge-primary">CATEGORY</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>