<div class="row justify-content-center md-3">
  <div class="col-md-4 text-center">
    <h1>TODOS</h1>
    <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f)" class="form-inline row">
      <div class="col-md-10 form-group">
        <input type="text" placeholder="Add New Todo here" name="todoText" class="form-control-plaintext drop-shadow"
          required ngModel [(ngModel)]="todoText" #todo="ngModel"
          [ngClass]="{'border-danger' : f.submitted && todo.invalid}">
      </div>
      <button type="submit" class="btn btn-primary col-md-2 btn-todo btn-block drop-shadow">{{buttonName}}</button>
      <div class="text-danger ml-3" *ngIf="f.submitted && todo.invalid">
        Todo is Required...
      </div>
    </form>
  </div>
</div>

<div class="row justify-content-center todo-list">
  <div class="col-md-6" *ngFor="let todo of todoList">
    <div class="card">
      <div class="card-body">
        <div class="clearfixs">
          <div class="float-left text-secondary">
            <i class="far fa-circle text-danger"></i>
            <i class="fas fa-check text-success"></i>
            {{todo.data.todo}}
          </div>
          <div class="float-right">
            <i class="far fa-check-circle text-success"></i>
            <i class="far fa-times-circle text-danger"></i>
            <div class="todo-tools">
              <small>
                <i class="fas fa-pencil-alt text-warning"></i>
                <i class="fas fa-trash text-danger"></i>
              </small>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>